<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>GlobalHackathonTeam.GlobalHackathonApp</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uber</string>
		<string>uberauth</string>
	</array>
	<key>Onboard</key>
	<string></string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UberCallbackURIs</key>
	<array>
		<dict>
			<key>URIString</key>
			<string>GlobalHackathonTeam.GlobalHackathonApp://oauth/consumer</string>
			<key>UberCallbackURIType</key>
			<string>General</string>
		</dict>
	</array>
	<key>UberClientID</key>
	<string>Zg7vdl3wPTztrIbC1aFQwdMwHgUFe6MS</string>
	<key>UberDisplayName</key>
	<string>Global Hackathon Project</string>
</dict>
</plist>
